@import '../../styles/variables.scss';

.series-next-post-container {
  display: block;
  width: 16rem;
  border-radius: 12px;
  padding: 16px;
  margin-top: 30px;
  h4, p {
    margin: unset;
    box-shadow: none;
  }
  h4 {
    margin-bottom: 8px;
  }
  p {
    height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
